body>main>article.center>section.group-stage-editor {
	div.groups {
		div.group {
			margin-bottom: 1rem;

			div.matches {
				width: 32rem;
				border: 2px groove #f0f0f0;

				div.match {
					span.competitors {
						width: 21rem;
						margin-left: 0.2rem;
					}

					span.scores {
						input {
							width: 2.25rem;	
						}
					}
				}
			}
		}
	}
}