<section class="entities-viewer">
	<div class="entities">
		<table>
			<thead>
				<tr>
					<th class="avatar">Avatar</th>
					<th class="identity">ID</th>
					<th class="discriminator">Discriminator</th>
					<th class="data">Data</th>
					<th class="action">Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="control">
		<button class="refresh" type="button">refresh</button>
		<button class="create" type="button">create</button>
		<select class="discriminator" value="Competitor">
			<option value="Competitor">Competitor</option>
			<option value="Document">Document</option>
			<option value="Group">Group</option>
			<option value="Match">Match</option>
			<option value="Tournament">Tournament</option>
			<option value="TournamentType">TournamentType</option>
		</select>
	</div>
</section>