<tr>
	<td class="ordinal">
		<input type="number" min="1" max="99" size="2" value = "1" />
	</td>
	<td class="artist">
		<input type="text" />
	</td>
	<td class="title">
		<input type="text" />
	</td>
	<td class="genre">
		<input type="text" />
	</td>
	<td class="recording">
		<button type="button">auswählen</button>
		<input class="hidden" type="file" accept="audio/wav, audio/x-wav, audio/mpeg, audio/mp4" />
	</td>
	<td class="action">
		<button class="submit" type="button">speichern</button>
		<button class="remove" type="button">entfernen</button>
	</td>
</tr>