<section class="recipe-viewer">
	<div class="data">
		<span class="avatar">
			<img />
		</span>
		<span class="other">
			<div class="title">
				<label>Titel</label>
				<input type="text" readonly="true" />
			</div>
			<div class="diet">
				<label>Ernährungsweise</label>
				<input type="text" readonly="true" />
			</div>
			<div class="category">
				<label>Kategorie</label>
				<input type="text" readonly="true" />
			</div>
		</span>
	</div>
	<div class="description">
		<label>Beschreibung</label>
		<textarea readonly="true"></textarea>
	</div>
	<div class="instruction">
		<label>Anleitung</label>
		<textarea readonly="true"></textarea>
	</div>
	<div class="ingredients">
		<h1>Zutaten</h1>
		<table>
			<thead>
				<tr>
					<th>Avatar</th>
					<th>Art</th>
					<th>Ernährungsweise</th>
					<th>Menge</th>
					<th>Einheit</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="illustrations">
		<h1>Illustrationen</h1>
		<table>
			<thead>
				<tr>
					<th>Link</th>
					<th>Größe (Bytes)</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="control">
		<button class="cancel" type="button">zurück</button>
	</div>
</section>