<tr>
	<td class="avatar"><img /></td>
	<td class="alias"><select autocomplete="off"></select></td>
	<td class="diet"><output></output></td>
	<td class="amount"><input type="number" value="1" step="0.1" min="0" /></td>
	<td class="unit">
		<select autocomplete="off" />
			<option value="LITRE">Liter</option>
			<option value="GRAM">Gramm</option>
			<option value="TEASPOON">Teelöffel</option>
			<option value="TABLESPOON">Esslöffel</option>
			<option value="PINCH">Prise</option>
			<option value="CUP">Tasse</option>
			<option value="CAN">Dose</option>
			<option value="TUBE">Tube</option>
			<option value="BUSHEL">Bund</option>
			<option value="PIECE">Stück</option>
		</select>
	</td>
	<td class="action">
		<button class="submit" type="button">speichern</button>
		<button class="remove" type="button">entfernen</button>
	</td>
</tr>